@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.dark-mode-shadow {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.light-mode-shadow {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #c1b66a, -20px -20px 60px #fff690;
}

.bg {
  /* background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-2500px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1500px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1500px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1000px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1000px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -360px -421px #ededed, -1636px 1898px #c7c7c7,
    -21px -1446px #ededed, -970px 654px #c9c9c9, -137px 736px #d4d4d4,
    -129px -1409px #ededed, -1549px -1624px #cccccc, 681px 1111px #c7c7c7,
    1633px 837px #d9d9d9, -1500px 807px #cccccc, 453px 172px #e8e8e8,
    -843px 899px #d9d9d9, -1236px -1000px #f7f7f7, -323px 860px #f0f0f0,
    -965px 162px #ededed, 1394px -337px #e8e8e8, -471px 1871px #f7f7f7,
    1919px 2019px #e8e8e8, -1977px -1903px #d1d1d1, 687px -762px #d4d4d4,
    -1623px -1611px #c2c2c2, 1127px 1906px #c9c9c9, 1007px -1308px #d9d9d9,
    -960px 1972px #e8e8e8, -959px -1183px #c2c2c2, 1872px -1581px #e0e0e0,
    -572px -1688px #cccccc, -651px 294px #cccccc, -1962px 1847px #d9d9d9,
    -76px 456px #d9d9d9, 534px 1448px #f0f0f0, -1533px 1579px #cccccc,
    614px -232px #c7c7c7, -282px 1447px #f0f0f0, 452px -104px #cccccc,
    250px 65px #ededed, 1682px 1306px #d4d4d4, 1594px 1658px #f7f7f7,
    -1511px -34px #ededed, -241px 1265px #c7c7c7, -1037px -1989px #e8e8e8,
    1737px 1667px #fcfcfc, 1725px -990px #f7f7f7, -1975px 647px #c9c9c9,
    -1497px -574px #c9c9c9, -84px -941px #f0f0f0, -1441px 876px #e8e8e8,
    414px 1610px #f7f7f7, -379px -1562px #c9c9c9, 709px -727px #ededed,
    936px 600px #d4d4d4, 1394px -1890px #d1d1d1, 693px -2018px #c2c2c2,
    -1848px -90px #fcfcfc, -1876px -767px #e8e8e8, 1379px 2015px #c9c9c9,
    -902px 371px #c7c7c7, -459px 1367px #cccccc, -954px -1278px #f0f0f0,
    96px 1987px #f0f0f0, 1292px 889px #f7f7f7, 925px -460px #d4d4d4,
    720px 1473px #ededed, 302px -1811px #ededed, -296px 1826px #cccccc,
    -7px 1319px #c7c7c7, -1874px 1610px #e8e8e8, 1465px -855px #c2c2c2,
    2012px 1858px #fcfcfc, -922px 648px #d4d4d4, -208px -1392px #ededed,
    975px -1889px #e0e0e0, 449px 335px #f0f0f0, 1822px -1373px #d4d4d4,
    -1339px -1008px #c9c9c9, 1237px 1370px #e0e0e0, 1741px 40px #c9c9c9,
    -1486px -1617px #ededed, 399px 1785px #c9c9c9, -721px -228px #c2c2c2,
    1770px 560px #ededed, 75px 764px #c9c9c9, 309px -1503px #fcfcfc,
    1279px -71px #ededed, 1694px -721px #e0e0e0, 1486px -1511px #c7c7c7,
    1315px -716px #e0e0e0, 483px -991px #ededed, 775px -1941px #f7f7f7,
    -186px -181px #c7c7c7, 1861px -502px #ededed, 1012px 560px #f0f0f0,
    -456px -432px #e8e8e8, 86px -1538px #d9d9d9, 926px 1859px #f7f7f7,
    -1170px 618px #ededed, 729px -52px #d9d9d9, 1451px 1117px #ededed,
    1395px -1770px #d1d1d1, 7px 1569px #ededed, 797px -1712px #f0f0f0,
    -50px 292px #ededed, 100px 765px #f7f7f7, -1473px -1913px #c7c7c7,
    679px -1912px #e0e0e0, -1422px -792px #d4d4d4, -651px 1456px #cccccc,
    1076px 1031px #c2c2c2, -505px 549px #d1d1d1, -340px -1714px #d4d4d4,
    1670px 987px #f0f0f0, 361px 746px #f7f7f7, 136px 1199px #d9d9d9,
    419px 1205px #f7f7f7, 155px 1306px #fcfcfc, 1850px 1905px #c2c2c2,
    -30px -526px #ededed, -347px -1433px #d9d9d9, -98px -436px #d4d4d4,
    130px -1709px #e0e0e0, 1782px -356px #f7f7f7, -1552px 1196px #e0e0e0,
    2007px -1983px #e8e8e8, 938px -61px #f0f0f0, 1977px -933px #f0f0f0,
    -1453px 1152px #f7f7f7, 571px -488px #cccccc, -106px -1604px #ededed,
    -986px 1444px #cccccc, 129px -1447px #fcfcfc, -999px 2004px #c2c2c2,
    494px 1517px #e8e8e8, 210px 2042px #f0f0f0, -1473px 1125px #ededed,
    -51px -570px #d4d4d4, 632px -786px #ededed, -1625px 174px #fcfcfc,
    -426px 30px #ededed, 594px -1876px #ededed, 23px -1152px #cccccc,
    -1940px -1216px #f7f7f7, 1703px -788px #c9c9c9, -805px -1826px #d9d9d9,
    -435px 1462px #f0f0f0, 574px -705px #ededed, 1270px -1630px #f7f7f7,
    -1964px -977px #d4d4d4, -1710px 1884px #d9d9d9, 1708px 987px #c7c7c7,
    955px -64px #f0f0f0, -1881px 1500px #ededed, 165px 1291px #d4d4d4,
    -1176px -895px #fcfcfc, -831px -1998px #d1d1d1, 1057px 1161px #ededed,
    -1235px 1061px #d9d9d9, 1553px -775px #c9c9c9, 19px 355px #d1d1d1,
    -860px -1508px #c2c2c2, -481px 1028px #c9c9c9, -736px 1582px #cccccc,
    -1882px -1110px #d4d4d4, -574px 976px #c2c2c2, -39px 1851px #c9c9c9,
    1549px 528px #c9c9c9, 1857px -1725px #f0f0f0, -698px -895px #f0f0f0,
    -199px -832px #c2c2c2, 1322px 1390px #d9d9d9, 1750px -1885px #c2c2c2,
    -1293px 381px #fcfcfc, -811px 309px #c2c2c2, 1814px 1855px #d9d9d9,
    1402px -948px #c9c9c9, -1759px 307px #d1d1d1, 951px -1330px #ededed,
    -644px 1970px #f7f7f7, -657px -1184px #fcfcfc, 765px 1374px #d4d4d4,
    1003px 709px #f0f0f0, 1458px -1175px #c7c7c7, -297px -1421px #c7c7c7,
    -1085px -1416px #c9c9c9, 204px -274px #e8e8e8, 89px 1203px #e8e8e8,
    1832px 1318px #d9d9d9, -66px -1308px #f7f7f7, 1372px 1278px #fcfcfc,
    -899px 521px #e8e8e8, 1417px -1885px #e0e0e0, -859px 1790px #ededed,
    -390px 1744px #ededed, -704px 1294px #f7f7f7, -1966px 1706px #d1d1d1,
    258px 429px #fcfcfc, 606px -880px #ededed, 1164px -476px #d1d1d1,
    528px -202px #e8e8e8, -1472px 1324px #e0e0e0, 1795px -66px #d4d4d4,
    602px 877px #d9d9d9, -922px 92px #e8e8e8, 1790px -321px #d1d1d1,
    1345px -1841px #ededed, 642px -608px #e0e0e0, 1884px -1459px #ededed,
    -1913px -1395px #fcfcfc, -590px 451px #e8e8e8, 663px -376px #d9d9d9,
    2010px 553px #c9c9c9, 1218px -1534px #f7f7f7, 777px -1319px #c2c2c2,
    1335px -1797px #f7f7f7, -712px 5px #c2c2c2, 774px 957px #c2c2c2,
    450px -1238px #e0e0e0, -1189px 1699px #e0e0e0, 868px 1949px #ededed,
    -565px 249px #d4d4d4, 757px -227px #c9c9c9, 891px 1161px #fcfcfc,
    1753px 1690px #ededed, -1840px 1251px #d9d9d9, 1385px -1549px #c2c2c2,
    -285px -1941px #ededed, -1491px -724px #e8e8e8, -872px -1090px #cccccc,
    1346px -866px #d1d1d1, 629px -1872px #c7c7c7, -629px -1461px #f7f7f7,
    -1663px -420px #e8e8e8, 1419px 1940px #c2c2c2, 1971px -821px #ededed,
    -1367px 1400px #e8e8e8, 1192px 1003px #fcfcfc, -1676px -475px #ededed,
    -325px 1625px #e8e8e8, -1538px -124px #c2c2c2, -838px -911px #c2c2c2,
    506px 1526px #f7f7f7, 1769px 187px #f0f0f0, 2026px -1595px #f0f0f0,
    -1392px 332px #fcfcfc, -1371px 661px #f7f7f7, 574px -1618px #d4d4d4,
    733px -1381px #fcfcfc, 924px 1632px #c2c2c2, -1598px -1583px #d1d1d1,
    -1114px -1315px #e8e8e8, 1397px 871px #fcfcfc, -369px -797px #c7c7c7,
    821px 1162px #ededed, 790px -41px #f0f0f0, -373px 542px #c2c2c2,
    -553px 1613px #e0e0e0, -551px 777px #d4d4d4, -1034px 825px #f0f0f0,
    1177px -1254px #d1d1d1, -1659px -1390px #f7f7f7, 1359px -827px #fcfcfc,
    685px -1977px #c2c2c2, 763px -1058px #d9d9d9, -894px 218px #e8e8e8,
    -858px 7px #c7c7c7, 1426px -1985px #ededed, -923px 1661px #ededed,
    -1527px 581px #d1d1d1, -175px 1021px #fcfcfc, -1059px -1718px #c9c9c9,
    -1339px 761px #d9d9d9, 1298px 700px #ededed, 1966px 1530px #d1d1d1,
    1730px 740px #c2c2c2, 807px -1442px #f0f0f0, 1567px 1266px #f7f7f7,
    1948px 1083px #e8e8e8, -1652px -1918px #c2c2c2, 1485px 1136px #c7c7c7,
    -1460px -489px #c9c9c9, -843px -230px #cccccc, -370px -449px #ededed,
    782px 1719px #fcfcfc, 911px 678px #c7c7c7, -114px -1991px #fcfcfc,
    1676px 977px #c2c2c2, 1020px 1861px #cccccc, 1293px 252px #d4d4d4,
    -564px -1278px #d4d4d4, 981px -1650px #cccccc, -1116px 807px #ededed,
    584px -1433px #f7f7f7, -64px 382px #c9c9c9, -11px -462px #c9c9c9,
    722px 37px #fcfcfc, 229px 1175px #ededed, 1919px -1420px #c7c7c7,
    1311px 532px #c2c2c2, 430px -26px #c7c7c7, -928px -1227px #cccccc,
    1502px 1655px #c7c7c7, 1px 1px sandybrown;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 20px;
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 10s linear infinite;
}

.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 10s linear infinite;
}

.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 10s linear infinite;
}
