@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode-shadow {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.light-mode-shadow {
  border-radius: 50px;
  box-shadow: 20px 20px 60px #c1b66a, -20px -20px 60px #fff690;
}

@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-2500px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1500px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1500px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1000px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1000px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0px);
    opacity: 0.5;
  }
}

.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -360px -421px #ededed, -1636px 1898px #c7c7c7,
    -21px -1446px #ededed, -970px 654px #c9c9c9, -137px 736px #d4d4d4,
    -129px -1409px #ededed, -1549px -1624px #cccccc, 681px 1111px #c7c7c7,
    1633px 837px #d9d9d9, -1500px 807px #cccccc, 453px 172px #e8e8e8,
    -843px 899px #d9d9d9, -1236px -1000px #f7f7f7, -323px 860px #f0f0f0,
    -965px 162px #ededed, 1394px -337px #e8e8e8, -471px 1871px #f7f7f7,
    1919px 2019px #e8e8e8, -1977px -1903px #d1d1d1, 687px -762px #d4d4d4,
    -1623px -1611px #c2c2c2, 1127px 1906px #c9c9c9, 1007px -1308px #d9d9d9,
    -960px 1972px #e8e8e8, -959px -1183px #c2c2c2, 1872px -1581px #e0e0e0,
    -572px -1688px #cccccc, -651px 294px #cccccc, -1962px 1847px #d9d9d9,
    450px -1238px #e0e0e0, -1189px 1699px #e0e0e0, 868px 1949px #ededed,
    -565px 249px #d4d4d4, 757px -227px #c9c9c9, 891px 1161px #fcfcfc,
    1753px 1690px #ededed, -1840px 1251px #d9d9d9, 1385px -1549px #c2c2c2,
    -285px -1941px #ededed, -1491px -724px #e8e8e8, -872px -1090px #cccccc,
    1346px -866px #d1d1d1, 629px -1872px #c7c7c7, -629px -1461px #f7f7f7,
    -1663px -420px #e8e8e8, 1419px 1940px #c2c2c2, 1971px -821px #ededed,
    -1367px 1400px #e8e8e8, 1192px 1003px #fcfcfc, -1676px -475px #ededed,
    -325px 1625px #e8e8e8, -1538px -124px #c2c2c2, -838px -911px #c2c2c2,
    506px 1526px #f7f7f7, 1769px 187px #f0f0f0, 2026px -1595px #f0f0f0,
    -1392px 332px #fcfcfc, -1371px 661px #f7f7f7, 574px -1618px #d4d4d4,
    733px -1381px #fcfcfc, 924px 1632px #c2c2c2, -1598px -1583px #d1d1d1,
    -1114px -1315px #e8e8e8, 1397px 871px #fcfcfc, -369px -797px #c7c7c7,
    821px 1162px #ededed, 790px -41px #f0f0f0, -373px 542px #c2c2c2,
    -553px 1613px #e0e0e0, -551px 777px #d4d4d4, -1034px 825px #f0f0f0,
    1177px -1254px #d1d1d1, -1659px -1390px #f7f7f7, 1359px -827px #fcfcfc,
    685px -1977px #c2c2c2, 763px -1058px #d9d9d9, -894px 218px #e8e8e8,
    -858px 7px #c7c7c7, 1426px -1985px #ededed, -923px 1661px #ededed,
    -1527px 581px #d1d1d1, -175px 1021px #fcfcfc, -1059px -1718px #c9c9c9,
    -1339px 761px #d9d9d9, 1298px 700px #ededed, 1966px 1530px #d1d1d1,
    1730px 740px #c2c2c2, 807px -1442px #f0f0f0, 1567px 1266px #f7f7f7,
    1948px 1083px #e8e8e8, -1652px -1918px #c2c2c2, 1485px 1136px #c7c7c7,
    -1460px -489px #c9c9c9, -843px -230px #cccccc, -370px -449px #ededed,
    782px 1719px #fcfcfc, 911px 678px #c7c7c7, -114px -1991px #fcfcfc,
    1676px 977px #c2c2c2, 1020px 1861px #cccccc, 1293px 252px #d4d4d4,
    -564px -1278px #d4d4d4, 981px -1650px #cccccc, -1116px 807px #ededed,
    584px -1433px #f7f7f7, -64px 382px #c9c9c9, -11px -462px #c9c9c9,
    722px 37px #fcfcfc, 229px 1175px #ededed, 1919px -1420px #c7c7c7,
    1311px 532px #c2c2c2, 430px -26px #c7c7c7, -928px -1227px #cccccc,
    1502px 1655px #c7c7c7;
  /* transform-style: preserve-3d; */
  position: absolute;
  top: 50%;
  left: 50%;
  height: 8px;
  width: 8px;
  border-radius: 20px;
}

.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 10s linear infinite;
}

.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 10s linear infinite;
}

.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 10s linear infinite;
}
